* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, #3ca7ee, #9b408f);
    overflow: hidden;
    /* display: flex; */
}
.nd{
    display: flex;
    gap: 10px;
    font-size: 32px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
p{
    color: #027bcb;
}
.logo{
    width: 190px;
    height: 50px;
    background-color: #3ca7ee;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
}
.container{
    margin-top: 100px;
    width: 100%;
    display: flex;
}
.header{
    width: 800px;
    padding: 25px;
    margin:0  auto;
    text-align: center;
    background-color: aliceblue;
    border-radius: 5px;
}
.btn{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.cssbtn{
    margin-top: 10px;
    width: 120px;
    height: 35px;
    background-color: #484646;
    color: white;
    line-height: 35px;
    border-radius: 5px;
}
.cssbtn:hover{
    background-color: rgb(188, 154, 154);
    color: #000;
    cursor: pointer;
    transition: 0.3s;
}
.logo:hover{
    cursor: pointer;
    background-color: #027bcb;
    transition: 0.3s;
}
p:hover{
    cursor: pointer;
}